<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-localidad-heading" jhiTranslate="exampleApp.localidad.home.createOrEditLabel">Create or edit a Localidad</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exampleApp.localidad.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                        This field cannot be longer than 250 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exampleApp.localidad.codigoPostal" for="field_codigoPostal">Codigo Postal</label>
                    <input type="text" class="form-control" name="codigoPostal" id="field_codigoPostal"
                           formControlName="codigoPostal"/>
                    <div *ngIf="editForm.get('codigoPostal')!.invalid && (editForm.get('codigoPostal')!.dirty || editForm.get('codigoPostal')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoPostal')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codigoPostal')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="exampleApp.localidad.provincia" for="field_provincia">Provincia</label>
                    <select class="form-control" id="field_provincia" name="provincia" formControlName="provinciaId">
                        <option *ngIf="!editForm.get('provinciaId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="provinciaOption.id" *ngFor="let provinciaOption of provincias; trackBy: trackById">{{ provinciaOption.nombre }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('provinciaId')!.invalid && (editForm.get('provinciaId')!.dirty || editForm.get('provinciaId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('provinciaId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
