<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="localidad">
            <h2><span jhiTranslate="exampleApp.localidad.detail.title">Localidad</span> {{ localidad.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="exampleApp.localidad.nombre">Nombre</span></dt>
                <dd>
                    <span>{{ localidad.nombre }}</span>
                </dd>
                <dt><span jhiTranslate="exampleApp.localidad.codigoPostal">Codigo Postal</span></dt>
                <dd>
                    <span>{{ localidad.codigoPostal }}</span>
                </dd>
                <dt><span jhiTranslate="exampleApp.localidad.provincia">Provincia</span></dt>
                <dd>
                    <div *ngIf="localidad.provinciaId">
                        <a [routerLink]="['/provincia', localidad.provinciaId, 'view']">{{ localidad.provinciaNombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/localidad', localidad.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
