<div>
    <h2 id="page-heading">
        <span jhiTranslate="exampleApp.localidad.home.title">Localidads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-localidad" [routerLink]="['/localidad/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="exampleApp.localidad.home.createLabel">
            Create a new Localidad
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="localidads?.length === 0">
        <span jhiTranslate="exampleApp.localidad.home.notFound">No localidads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="localidads && localidads.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="exampleApp.localidad.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="codigoPostal"><span jhiTranslate="exampleApp.localidad.codigoPostal">Codigo Postal</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="provinciaNombre"><span jhiTranslate="exampleApp.localidad.provincia">Provincia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let localidad of localidads ;trackBy: trackId">
                    <td><a [routerLink]="['/localidad', localidad.id, 'view']">{{ localidad.id }}</a></td>
                    <td>{{ localidad.nombre }}</td>
                    <td>{{ localidad.codigoPostal }}</td>
                    <td>
                        <div *ngIf="localidad.provinciaId">
                            <a [routerLink]="['/provincia', localidad.provinciaId , 'view']" >{{ localidad.provinciaNombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/localidad', localidad.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/localidad', localidad.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(localidad)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="localidads && localidads.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
